/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;



}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}

/*    https://github.com/benweet/stackedit   glyphs   */

@font-face {
	font-family:'fontello';
	src:url('../font/fontello.eot');
	src:url('../font/fontello.eot#iefix') format('embedded-opentype'), url('../font/fontello.woff') format('woff'), url('../font/fontello.ttf') format('truetype'), url('../font/fontello.svg#fontello') format('svg');
	font-weight:normal;
	font-style:normal
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family:"fontello";
	font-style:normal;
	font-weight:normal;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	margin-right:.2em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em;
	margin-left:.2em;
}
.icon-ajust:before {
	content:'\e8cd'
}
.icon-adjust:before {
	content:'\e8cd'
}
.icon-align-center:before {
	content:'\e95e'
}
.icon-align-justify:before {
	content:'\e960'
}
.icon-align-left:before {
	content:'\e95d'
}
.icon-align-right:before {
	content:'\e95f'
}
.icon-ambulance:before {
	content:'\e8fe'
}
.icon-anchor:before {
	content:'\e906'
}
.icon-angle-circled-down:before {
	content:'\e884'
}
.icon-angle-circled-left:before {
	content:'\e881'
}
.icon-angle-circled-right:before {
	content:'\e882'
}
.icon-angle-circled-up:before {
	content:'\e883'
}
.icon-angle-double-down:before {
	content:'\e888'
}
.icon-angle-double-left:before {
	content:'\e885'
}
.icon-angle-double-right:before {
	content:'\e886'
}
.icon-angle-double-up:before {
	content:'\e887'
}
.icon-angle-down:before {
	content:'\e880'
}
.icon-angle-left:before {
	content:'\e87d'
}
.icon-angle-right:before {
	content:'\e87e'
}
.icon-angle-up:before {
	content:'\e87f'
}
.icon-archive:before {
	content:'\e859'
}
.icon-asterisk:before {
	content:'\e8d3'
}
.icon-attach:before {
	content:'\e82d'
}
.icon-attention-alt:before {
	content:'\e850'
}
.icon-attention:before {
	content:'\e851'
}
.icon-attention-circled:before {
	content:'\e852'
}
.icon-award:before {
	content:'\e959'
}
.icon-barcode:before {
	content:'\e8cb'
}
.icon-basket:before {
	content:'\e865'
}
.icon-beaker:before {
	content:'\e8e0'
}
.icon-beer:before {
	content:'\e8fb'
}
.icon-bell-alt:before {
	content:'\e84f'
}
.icon-bell:before {
	content:'\e84e'
}
.icon-bitcoin:before {
	content:'\e8eb'
}
.icon-block:before {
	content:'\e86e'
}
.icon-bold:before {
	content:'\e8b5'
}
.icon-book:before {
	content:'\e8cc'
}
.icon-bookmark:before {
	content:'\e836'
}
.icon-bookmark-empty:before {
	content:'\e837'
}
.icon-box:before {
	content:'\e85c'
}
.icon-briefcase:before {
	content:'\e8c7'
}
.icon-bug:before {
	content:'\e8dc'
}
.icon-building:before {
	content:'\e902'
}
.icon-bullseye:before {
	content:'\e90c'
}
.icon-calendar:before {
	content:'\e866'
}
.icon-calendar-empty:before {
	content:'\e867'
}
.icon-camera-alt:before {
	content:'\e814'
}
.icon-camera:before {
	content:'\e813'
}
.icon-cancel:before {
	content:'\e81c'
}
.icon-cancel-circled2:before {
	content:'\e86f'
}
.icon-cancel-circled:before {
	content:'\e81d'
}
.icon-ccw:before {
	content:'\e896'
}
.icon-certificate:before {
	content:'\e8dd'
}
.icon-chart-bar:before {
	content:'\e90f'
}
.icon-chat:before {
	content:'\e84b'
}
.icon-chat-empty:before {
	content:'\e84d'
}
.icon-check:before {
	content:'\e8cf'
}
.icon-check-empty:before {
	content:'\e8d0'
}
.icon-circle:before {
	content:'\e8d1'
}
.icon-circle-empty:before {
	content:'\e8d2'
}
.icon-clock:before {
	content:'\e86c'
}
.icon-cloud:before {
	content:'\e8ad'
}
.icon-code:before {
	content:'\e844'
}
.icon-coffee:before {
	content:'\e8f9'
}
.icon-cog-alt:before {
	content:'\e863'
}
.icon-cog:before {
	content:'\e862'
}
.icon-collapse:before {
	content:'\e958'
}
.icon-collapse-top:before {
	content:'\e899'
}
.icon-columns:before {
	content:'\e8c3'
}
.icon-comment:before {
	content:'\e84a'
}
.icon-comment-empty:before {
	content:'\e84c'
}
.icon-compass:before {
	content:'\e855'
}
.icon-credit-card:before {
	content:'\e965'
}
.icon-crop:before {
	content:'\e8c4'
}
.icon-cw:before {
	content:'\e895'
}
.icon-desktop:before {
	content:'\e95a'
}
.icon-direction:before {
	content:'\e854'
}
.icon-doc:before {
	content:'\e857'
}
.icon-docs:before {
	content:'\e858'
}
.icon-doc-text:before {
	content:'\e945'
}
.icon-doc-text-inv:before {
	content:'\e947'
}
.icon-dollar:before {
	content:'\e8e6'
}
.icon-down:before {
	content:'\e951'
}
.icon-down-big:before {
	content:'\e889'
}
.icon-down-circled2:before {
	content:'\e877'
}
.icon-down-circled:before {
	content:'\e894'
}
.icon-down-dir:before {
	content:'\e94d'
}
.icon-down-hand:before {
	content:'\e890'
}
.icon-download:before {
	content:'\e83b'
}
.icon-download-cloud:before {
	content:'\e83d'
}
.icon-down-open:before {
	content:'\e879'
}
.icon-edit:before {
	content:'\e941'
}
.icon-eject:before {
	content:'\e8a6'
}
.icon-ellipsis:before {
	content:'\e961'
}
.icon-ellipsis-vert:before {
	content:'\e962'
}
.icon-eraser:before {
	content:'\e908'
}
.icon-euro:before {
	content:'\e8e4'
}
.icon-exchange:before {
	content:'\e957'
}
.icon-expand:before {
	content:'\e89a'
}
.icon-export-alt:before {
	content:'\e846'
}
.icon-extinguisher:before {
	content:'\e90b'
}
.icon-eye:before {
	content:'\e832'
}
.icon-eye-off:before {
	content:'\e833'
}
.icon-fast-bw:before {
	content:'\e8a5'
}
.icon-fast-fw:before {
	content:'\e8a4'
}
.icon-female:before {
	content:'\e80f'
}
.icon-fighter-jet:before {
	content:'\e8b2'
}
.icon-file:before {
	content:'\e946'
}
.icon-filter:before {
	content:'\e8df'
}
.icon-fire:before {
	content:'\e8d5'
}
.icon-flag:before {
	content:'\e838'
}
.icon-flag-checkered:before {
	content:'\e93e'
}
.icon-flag-empty:before {
	content:'\e93d'
}
.icon-flash:before {
	content:'\e8ae'
}
.icon-flight:before {
	content:'\e8b1'
}
.icon-floppy:before {
	content:'\e966'
}
.icon-folder:before {
	content:'\e8d7'
}
.icon-folder-empty:before {
	content:'\e85a'
}
.icon-folder-open:before {
	content:'\e81e'
}
.icon-folder-open-empty:before {
	content:'\e85b'
}
.icon-font:before {
	content:'\e8b6'
}
.icon-food:before {
	content:'\e8fa'
}
.icon-fork:before {
	content:'\e8da'
}
.icon-forward:before {
	content:'\e856'
}
.icon-frown:before {
	content:'\e904'
}
.icon-gamepad:before {
	content:'\e849'
}
.icon-gauge:before {
	content:'\e8f6'
}
.icon-gift:before {
	content:'\e8d4'
}
.icon-glass:before {
	content:'\e801'
}
.icon-globe:before {
	content:'\e8ab'
}
.icon-hammer:before {
	content:'\e8f5'
}
.icon-hdd:before {
	content:'\e841'
}
.icon-headphones:before {
	content:'\e86b'
}
.icon-heart:before {
	content:'\e806'
}
.icon-heart-empty:before {
	content:'\e807'
}
.icon-help:before {
	content:'\e828'
}
.icon-help-circled:before {
	content:'\e939'
}
.icon-home:before {
	content:'\e93c'
}
.icon-hospital:before {
	content:'\e901'
}
.icon-h-sigh:before {
	content:'\e900'
}
.icon-inbox:before {
	content:'\e8aa'
}
.icon-indent-left:before {
	content:'\e8ba'
}
.icon-indent-right:before {
	content:'\e8bb'
}
.icon-info:before {
	content:'\e93b'
}
.icon-info-circled:before {
	content:'\e93a'
}
.icon-italic:before {
	content:'\e8b4'
}
.icon-key:before {
	content:'\e8d9'
}
.icon-keyboard:before {
	content:'\e944'
}
.icon-laptop:before {
	content:'\e95b'
}
.icon-layers:before {
	content:'\e829'
}
.icon-leaf:before {
	content:'\e8b3'
}
.icon-left:before {
	content:'\e952'
}
.icon-left-big:before {
	content:'\e88a'
}
.icon-left-circled:before {
	content:'\e891'
}
.icon-left-dir:before {
	content:'\e94f'
}
.icon-left-hand:before {
	content:'\e88e'
}
.icon-left-open:before {
	content:'\e87a'
}
.icon-level-down:before {
	content:'\e955'
}
.icon-level-up:before {
	content:'\e898'
}
.icon-lightbulb:before {
	content:'\e86d'
}
.icon-link:before {
	content:'\e83f'
}
.icon-link-ext-alt:before {
	content:'\e82c'
}
.icon-link-ext:before {
	content:'\e82b'
}
.icon-list-alt:before {
	content:'\e8c9'
}
.icon-list:before {
	content:'\e8b9'
}
.icon-list-bullet:before {
	content:'\e8bc'
}
.icon-list-numbered:before {
	content:'\e8bd'
}
.icon-location:before {
	content:'\e853'
}
.icon-lock:before {
	content:'\e82e'
}
.icon-lock-open-alt:before {
	content:'\e830'
}
.icon-lock-open:before {
	content:'\e82f'
}
.icon-login:before {
	content:'\e868'
}
.icon-logout:before {
	content:'\e949'
}
.icon-magic:before {
	content:'\e8e1'
}
.icon-magnet:before {
	content:'\e8d6'
}
.icon-mail-alt:before {
	content:'\e805'
}
.icon-mail:before {
	content:'\e804'
}
.icon-male:before {
	content:'\e80e'
}
.icon-medkit:before {
	content:'\e8ff'
}
.icon-megaphone:before {
	content:'\e967'
}
.icon-meh:before {
	content:'\e905'
}
.icon-menu:before {
	content:'\e861'
}
.icon-mic:before {
	content:'\e94a'
}
.icon-minus:before {
	content:'\e823'
}
.icon-minus-circled:before {
	content:'\e824'
}
.icon-minus-squared-alt:before {
	content:'\e826'
}
.icon-minus-squared:before {
	content:'\e825'
}
.icon-minus-squared-small:before {
	content:'\e827'
}
.icon-mobile:before {
	content:'\e8a9'
}
.icon-money:before {
	content:'\e8e3'
}
.icon-moon:before {
	content:'\e8af'
}
.icon-move:before {
	content:'\e874'
}
.icon-music:before {
	content:'\e802'
}
.icon-mute:before {
	content:'\e94b'
}
.icon-off:before {
	content:'\e963'
}
.icon-ok:before {
	content:'\e818'
}
.icon-ok-circled2:before {
	content:'\e81a'
}
.icon-ok-circled:before {
	content:'\e819'
}
.icon-ok-squared:before {
	content:'\e81b'
}
.icon-paste:before {
	content:'\e8c6'
}
.icon-pause:before {
	content:'\e800'
}
.icon-pencil:before {
	content:'\e847'
}
.icon-pencil-squared:before {
	content:'\e848'
}
.icon-phone:before {
	content:'\e85f'
}
.icon-phone-squared:before {
	content:'\e860'
}
.icon-picture:before {
	content:'\e812'
}
.icon-pin:before {
	content:'\e831'
}
.icon-play:before {
	content:'\e89b'
}
.icon-play-circled2:before {
	content:'\e89d'
}
.icon-play-circled:before {
	content:'\e89c'
}
.icon-plus:before {
	content:'\e81f'
}
.icon-plus-circled:before {
	content:'\e820'
}
.icon-plus-squared:before {
	content:'\e821'
}
.icon-plus-squared-small:before {
	content:'\e822'
}
.icon-pound:before {
	content:'\e8e5'
}
.icon-print:before {
	content:'\e942'
}
.icon-puzzle:before {
	content:'\e909'
}
.icon-qrcode:before {
	content:'\e8ca'
}
.icon-quote-left:before {
	content:'\e842'
}
.icon-quote-right:before {
	content:'\e843'
}
.icon-refresh:before {
	content:'\e897'
}
.icon-renminbi:before {
	content:'\e8e9'
}
.icon-reply-all:before {
	content:'\e840'
}
.icon-reply:before {
	content:'\e845'
}
.icon-resize-full-alt:before {
	content:'\e870'
}
.icon-resize-full:before {
	content:'\e90d'
}
.icon-resize-horizontal:before {
	content:'\e873'
}
.icon-resize-small:before {
	content:'\e871'
}
.icon-resize-vertical:before {
	content:'\e872'
}
.icon-retweet:before {
	content:'\e943'
}
.icon-right:before {
	content:'\e953'
}
.icon-right-big:before {
	content:'\e88b'
}
.icon-right-circled:before {
	content:'\e892'
}
.icon-right-dir:before {
	content:'\e950'
}
.icon-right-hand:before {
	content:'\e88d'
}
.icon-right-open:before {
	content:'\e87b'
}
.icon-road:before {
	content:'\e964'
}
.icon-rocket:before {
	content:'\e8db'
}
.icon-rss:before {
	content:'\e85d'
}
.icon-rss-squared:before {
	content:'\e85e'
}
.icon-rupee:before {
	content:'\e8e7'
}
.icon-scissors:before {
	content:'\e8c5'
}
.icon-search:before {
	content:'\e803'
}
.icon-share:before {
	content:'\e912'
}
.icon-shield:before {
	content:'\e90a'
}
.icon-shuffle:before {
	content:'\e956'
}
.icon-signal:before {
	content:'\e8a8'
}
.icon-sitemap:before {
	content:'\e8f7'
}
.icon-smile:before {
	content:'\e903'
}
.icon-sort-alt-down:before {
	content:'\e8f0'
}
.icon-sort-alt-up:before {
	content:'\e8ef'
}
.icon-sort:before {
	content:'\e8ec'
}
.icon-sort-down:before {
	content:'\e8ed'
}
.icon-sort-name-down:before {
	content:'\e8f2'
}
.icon-sort-name-up:before {
	content:'\e8f1'
}
.icon-sort-number-down:before {
	content:'\e8f4'
}
.icon-sort-number-up:before {
	content:'\e8f3'
}
.icon-sort-up:before {
	content:'\e8ee'
}
.icon-spinner:before {
	content:'\e8f8'
}
.icon-star:before {
	content:'\e808'
}
.icon-star-empty:before {
	content:'\e809'
}
.icon-star-half-alt:before {
	content:'\e80b'
}
.icon-star-half:before {
	content:'\e80a'
}
.icon-stethoscope:before {
	content:'\e8fd'
}
.icon-stop:before {
	content:'\e89e'
}
.icon-strike:before {
	content:'\e8be'
}
.icon-subscript:before {
	content:'\e8c1'
}
.icon-suitcase:before {
	content:'\e8c8'
}
.icon-sun:before {
	content:'\e8ac'
}
.icon-superscript:before {
	content:'\e8c0'
}
.icon-table:before {
	content:'\e8c2'
}
.icon-tablet:before {
	content:'\e95c'
}
.icon-tag:before {
	content:'\e834'
}
.icon-tags:before {
	content:'\e835'
}
.icon-target:before {
	content:'\e8a7'
}
.icon-tasks:before {
	content:'\e8de'
}
.icon-terminal:before {
	content:'\e907'
}
.icon-text-height:before {
	content:'\e8b7'
}
.icon-text-width:before {
	content:'\e8b8'
}
.icon-th:before {
	content:'\e816'
}
.icon-th-large:before {
	content:'\e815'
}
.icon-th-list:before {
	content:'\e817'
}
.icon-thumbs-down-alt:before {
	content:'\e83a'
}
.icon-thumbs-down:before {
	content:'\e940'
}
.icon-thumbs-up-alt:before {
	content:'\e839'
}
.icon-thumbs-up:before {
	content:'\e93f'
}
.icon-ticket:before {
	content:'\e8d8'
}
.icon-tint:before {
	content:'\e8ce'
}
.icon-to-end-alt:before {
	content:'\e8a1'
}
.icon-to-end:before {
	content:'\e8a0'
}
.icon-to-start-alt:before {
	content:'\e8a3'
}
.icon-to-start:before {
	content:'\e8a2'
}
.icon-trash:before {
	content:'\e89f'
}
.icon-truck:before {
	content:'\e8e2'
}
.icon-umbrella:before {
	content:'\e8b0'
}
.icon-underline:before {
	content:'\e8bf'
}
.icon-unlink:before {
	content:'\e82a'
}
.icon-up:before {
	content:'\e954'
}
.icon-up-big:before {
	content:'\e88c'
}
.icon-up-circled2:before {
	content:'\e878'
}
.icon-up-circled:before {
	content:'\e893'
}
.icon-up-dir:before {
	content:'\e94e'
}
.icon-up-hand:before {
	content:'\e88f'
}
.icon-upload:before {
	content:'\e83c'
}
.icon-upload-cloud:before {
	content:'\e83e'
}
.icon-up-open:before {
	content:'\e87c'
}
.icon-user:before {
	content:'\e80c'
}
.icon-user-md:before {
	content:'\e8fc'
}
.icon-users:before {
	content:'\e80d'
}
.icon-video:before {
	content:'\e810'
}
.icon-videocam:before {
	content:'\e811'
}
.icon-volume-down:before {
	content:'\e869'
}
.icon-volume-off:before {
	content:'\e94c'
}
.icon-volume-up:before {
	content:'\e86a'
}
.icon-won:before {
	content:'\e8ea'
}
.icon-wrench:before {
	content:'\e864'
}
.icon-yen:before {
	content:'\e8e8'
}
.icon-zoom-in:before {
	content:'\e875'
}
.icon-zoom-out:before {
	content:'\e876'
}
@font-face {
	font-family:'Glyphicons Halflings';
	src:url('../fonts/glyphicons-halflings-regular.eot');
	src:url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}
.glyphicon {
	position:relative;
	top:1px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased
}
.glyphicon-adjust:before {
	content:"\e063"
}
.glyphicon-align-center:before {
	content:"\e053"
}
.glyphicon-align-justify:before {
	content:"\e055"
}
.glyphicon-align-left:before {
	content:"\e052"
}
.glyphicon-align-right:before {
	content:"\e054"
}
.glyphicon-arrow-down:before {
	content:"\e094"
}
.glyphicon-arrow-left:before {
	content:"\e091"
}
.glyphicon-arrow-right:before {
	content:"\e092"
}
.glyphicon-arrow-up:before {
	content:"\e093"
}
.glyphicon-asterisk:before {
	content:"\2a"
}
.glyphicon-backward:before {
	content:"\e071"
}
.glyphicon-ban-circle:before {
	content:"\e090"
}
.glyphicon-barcode:before {
	content:"\e040"
}
.glyphicon-bell:before {
	content:"\1f514"
}
.glyphicon-bold:before {
	content:"\e048"
}
.glyphicon-book:before {
	content:"\e043"
}
.glyphicon-bookmark:before {
	content:"\1f516"
}
.glyphicon-briefcase:before {
	content:"\1f4bc"
}
.glyphicon-bullhorn:before {
	content:"\e122"
}
.glyphicon-calendar:before {
	content:"\1f4c5"
}
.glyphicon-camera:before {
	content:"\1f4f7"
}
.glyphicon-certificate:before {
	content:"\e124"
}
.glyphicon-check:before {
	content:"\e067"
}
.glyphicon-chevron-down:before {
	content:"\e114"
}
.glyphicon-chevron-left:before {
	content:"\e079"
}
.glyphicon-chevron-right:before {
	content:"\e080"
}
.glyphicon-chevron-up:before {
	content:"\e113"
}
.glyphicon-circle-arrow-down:before {
	content:"\e134"
}
.glyphicon-circle-arrow-left:before {
	content:"\e132"
}
.glyphicon-circle-arrow-right:before {
	content:"\e131"
}
.glyphicon-circle-arrow-up:before {
	content:"\e133"
}
.glyphicon-cloud:before {
	content:"\2601"
}
.glyphicon-cloud-download:before {
	content:"\e197"
}
.glyphicon-cloud-upload:before {
	content:"\e198"
}
.glyphicon-cog:before {
	content:"\e019"
}
.glyphicon-collapse-down:before {
	content:"\e159"
}
.glyphicon-collapse-up:before {
	content:"\e160"
}
.glyphicon-comment:before {
	content:"\e111"
}
.glyphicon-compressed:before {
	content:"\e181"
}
.glyphicon-copyright-mark:before {
	content:"\e194"
}
.glyphicon-credit-card:before {
	content:"\e177"
}
.glyphicon-cutlery:before {
	content:"\e179"
}
.glyphicon-dashboard:before {
	content:"\e141"
}
.glyphicon-download-alt:before {
	content:"\e025"
}
.glyphicon-download:before {
	content:"\e026"
}
.glyphicon-earphone:before {
	content:"\e182"
}
.glyphicon-edit:before {
	content:"\e065"
}
.glyphicon-eject:before {
	content:"\e078"
}
.glyphicon-envelope:before {
	content:"\2709"
}
.glyphicon-euro:before {
	content:"\20ac"
}
.glyphicon-exclamation-sign:before {
	content:"\e101"
}
.glyphicon-expand:before {
	content:"\e158"
}
.glyphicon-export:before {
	content:"\e170"
}
.glyphicon-eye-close:before {
	content:"\e106"
}
.glyphicon-eye-open:before {
	content:"\e105"
}
.glyphicon-facetime-video:before {
	content:"\e059"
}
.glyphicon-fast-backward:before {
	content:"\e070"
}
.glyphicon-fast-forward:before {
	content:"\e076"
}
.glyphicon-file:before {
	content:"\e022"
}
.glyphicon-film:before {
	content:"\e009"
}
.glyphicon-filter:before {
	content:"\e138"
}
.glyphicon-fire:before {
	content:"\1f525"
}
.glyphicon-flag:before {
	content:"\e034"
}
.glyphicon-flash:before {
	content:"\e162"
}
.glyphicon-floppy-disk:before {
	content:"\e172"
}
.glyphicon-floppy-open:before {
	content:"\e176"
}
.glyphicon-floppy-remove:before {
	content:"\e174"
}
.glyphicon-floppy-save:before {
	content:"\e175"
}
.glyphicon-floppy-saved:before {
	content:"\e173"
}
.glyphicon-folder-close:before {
	content:"\e117"
}
.glyphicon-folder-open:before {
	content:"\e118"
}
.glyphicon-font:before {
	content:"\e047"
}
.glyphicon-forward:before {
	content:"\e075"
}
.glyphicon-fullscreen:before {
	content:"\e140"
}
.glyphicon-gbp:before {
	content:"\e149"
}
.glyphicon-gift:before {
	content:"\e102"
}
.glyphicon-glass:before {
	content:"\e001"
}
.glyphicon-globe:before {
	content:"\e135"
}
.glyphicon-hand-down:before {
	content:"\e130"
}
.glyphicon-hand-left:before {
	content:"\e128"
}
.glyphicon-hand-right:before {
	content:"\e127"
}
.glyphicon-hand-up:before {
	content:"\e129"
}
.glyphicon-hdd:before {
	content:"\e121"
}
.glyphicon-hd-video:before {
	content:"\e187"
}
.glyphicon-header:before {
	content:"\e180"
}
.glyphicon-headphones:before {
	content:"\e035"
}
.glyphicon-heart:before {
	content:"\e005"
}
.glyphicon-heart-empty:before {
	content:"\e143"
}
.glyphicon-home:before {
	content:"\e021"
}
.glyphicon-import:before {
	content:"\e169"
}
.glyphicon-inbox:before {
	content:"\e028"
}
.glyphicon-indent-left:before {
	content:"\e057"
}
.glyphicon-indent-right:before {
	content:"\e058"
}
.glyphicon-info-sign:before {
	content:"\e086"
}
.glyphicon-italic:before {
	content:"\e049"
}
.glyphicon-leaf:before {
	content:"\e103"
}
.glyphicon-link:before {
	content:"\e144"
}
.glyphicon-list-alt:before {
	content:"\e032"
}
.glyphicon-list:before {
	content:"\e056"
}
.glyphicon-lock:before {
	content:"\1f512"
}
.glyphicon-log-in:before {
	content:"\e161"
}
.glyphicon-log-out:before {
	content:"\e163"
}
.glyphicon-magnet:before {
	content:"\e112"
}
.glyphicon-map-marker:before {
	content:"\e062"
}
.glyphicon-minus:before {
	content:"\2212"
}
.glyphicon-minus-sign:before {
	content:"\e082"
}
.glyphicon-move:before {
	content:"\e068"
}
.glyphicon-music:before {
	content:"\e002"
}
.glyphicon-new-window:before {
	content:"\e164"
}
.glyphicon-off:before {
	content:"\e017"
}
.glyphicon-ok:before {
	content:"\e013"
}
.glyphicon-ok-circle:before {
	content:"\e089"
}
.glyphicon-ok-sign:before {
	content:"\e084"
}
.glyphicon-open:before {
	content:"\e167"
}
.glyphicon-paperclip:before {
	content:"\1f4ce"
}
.glyphicon-pause:before {
	content:"\e073"
}
.glyphicon-pencil:before {
	content:"\270f"
}
.glyphicon-phone-alt:before {
	content:"\e183"
}
.glyphicon-phone:before {
	content:"\e145"
}
.glyphicon-picture:before {
	content:"\e060"
}
.glyphicon-plane:before {
	content:"\e108"
}
.glyphicon-play:before {
	content:"\e072"
}
.glyphicon-play-circle:before {
	content:"\e029"
}
.glyphicon-plus:before {
	content:"\2b"
}
.glyphicon-plus-sign:before {
	content:"\e081"
}
.glyphicon-print:before {
	content:"\e045"
}
.glyphicon-pushpin:before {
	content:"\1f4cc"
}
.glyphicon-qrcode:before {
	content:"\e039"
}
.glyphicon-question-sign:before {
	content:"\e085"
}
.glyphicon-random:before {
	content:"\e110"
}
.glyphicon-record:before {
	content:"\e165"
}
.glyphicon-refresh:before {
	content:"\e031"
}
.glyphicon-registration-mark:before {
	content:"\e195"
}
.glyphicon-remove:before {
	content:"\e014"
}
.glyphicon-remove-circle:before {
	content:"\e088"
}
.glyphicon-remove-sign:before {
	content:"\e083"
}
.glyphicon-repeat:before {
	content:"\e030"
}
.glyphicon-resize-full:before {
	content:"\e096"
}
.glyphicon-resize-horizontal:before {
	content:"\e120"
}
.glyphicon-resize-small:before {
	content:"\e097"
}
.glyphicon-resize-vertical:before {
	content:"\e119"
}
.glyphicon-retweet:before {
	content:"\e115"
}
.glyphicon-road:before {
	content:"\e024"
}
.glyphicon-save:before {
	content:"\e166"
}
.glyphicon-saved:before {
	content:"\e168"
}
.glyphicon-screenshot:before {
	content:"\e087"
}
.glyphicon-sd-video:before {
	content:"\e186"
}
.glyphicon-search:before {
	content:"\e003"
}
.glyphicon-send:before {
	content:"\e171"
}
.glyphicon-share-alt:before {
	content:"\e095"
}
.glyphicon-share:before {
	content:"\e066"
}
.glyphicon-shopping-cart:before {
	content:"\e116"
}
.glyphicon-signal:before {
	content:"\e018"
}
.glyphicon-sort:before {
	content:"\e150"
}
.glyphicon-sort-by-alphabet-alt:before {
	content:"\e152"
}
.glyphicon-sort-by-alphabet:before {
	content:"\e151"
}
.glyphicon-sort-by-attributes-alt:before {
	content:"\e156"
}
.glyphicon-sort-by-attributes:before {
	content:"\e155"
}
.glyphicon-sort-by-order-alt:before {
	content:"\e154"
}
.glyphicon-sort-by-order:before {
	content:"\e153"
}
.glyphicon-sound-5-1:before {
	content:"\e191"
}
.glyphicon-sound-6-1:before {
	content:"\e192"
}
.glyphicon-sound-7-1:before {
	content:"\e193"
}
.glyphicon-sound-dolby:before {
	content:"\e190"
}
.glyphicon-sound-stereo:before {
	content:"\e189"
}
.glyphicon-star:before {
	content:"\e006"
}
.glyphicon-star-empty:before {
	content:"\e007"
}
.glyphicon-stats:before {
	content:"\e185"
}
.glyphicon-step-backward:before {
	content:"\e069"
}
.glyphicon-step-forward:before {
	content:"\e077"
}
.glyphicon-stop:before {
	content:"\e074"
}
.glyphicon-subtitles:before {
	content:"\e188"
}
.glyphicon-tag:before {
	content:"\e041"
}
.glyphicon-tags:before {
	content:"\e042"
}
.glyphicon-tasks:before {
	content:"\e137"
}
.glyphicon-text-height:before {
	content:"\e050"
}
.glyphicon-text-width:before {
	content:"\e051"
}
.glyphicon-th:before {
	content:"\e011"
}
.glyphicon-th-large:before {
	content:"\e010"
}
.glyphicon-th-list:before {
	content:"\e012"
}
.glyphicon-thumbs-down:before {
	content:"\e126"
}
.glyphicon-thumbs-up:before {
	content:"\e125"
}
.glyphicon-time:before {
	content:"\e023"
}
.glyphicon-tint:before {
	content:"\e064"
}
.glyphicon-tower:before {
	content:"\e184"
}
.glyphicon-transfer:before {
	content:"\e178"
}
.glyphicon-trash:before {
	content:"\e020"
}
.glyphicon-tree-conifer:before {
	content:"\e199"
}
.glyphicon-tree-deciduous:before {
	content:"\e200"
}
.glyphicon-unchecked:before {
	content:"\e157"
}
.glyphicon-upload:before {
	content:"\e027"
}
.glyphicon-usd:before {
	content:"\e148"
}
.glyphicon-user:before {
	content:"\e008"
}
.glyphicon-volume-down:before {
	content:"\e037"
}
.glyphicon-volume-off:before {
	content:"\e036"
}
.glyphicon-volume-up:before {
	content:"\e038"
}
.glyphicon-warning-sign:before {
	content:"\e107"
}
.glyphicon-wrench:before {
	content:"\1f527"
}
.glyphicon-zoom-in:before {
	content:"\e015"
}
.glyphicon-zoom-out:before {
	content:"\e016"
}

[class^="glyphicons-"], [class*=" glyphicons-"] {
	display:inline-block;
	width:14px;
	height:14px;
	margin-top:1px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../img/glyphicons-halflings.png");
	background-position:14px 14px;
	background-repeat:no-repeat
}
.glyphicons-provider-gdrive-realtime {
	display:inline-block;
	width:14px;
	height:14px;
	margin-top:1px;
	*margin-right:.3em;
	line-height:14px;
	vertical-align:text-top;
	background-image:url("../img/glyphicons-halflings.png");
	background-position:14px 14px;
	background-repeat:no-repeat;
	width:18px;
	background-position:-1px -162px
}
.glyphicons-stat {
	background-position:-1px -168px
}
.glyphicons-numbered-list {
	background-position:-408px -168px
}
.glyphicons-hr {
	background-position:-432px -168px
}
.glyphicons-undo {
	background-position:-456px -168px
}
.glyphicons-glass {
	background-position:0 0
}
.glyphicons-music {
	background-position:-24px 0
}
.glyphicons-search {
	background-position:-48px 0
}
.glyphicons-envelope {
	background-position:-72px 0
}
.glyphicons-heart {
	background-position:-96px 0
}
.glyphicons-star {
	background-position:-120px 0
}
.glyphicons-star-empty {
	background-position:-144px 0
}
.glyphicons-user {
	background-position:-168px 0
}
.glyphicons-film {
	background-position:-192px 0
}
.glyphicons-th-large {
	background-position:-216px 0
}
.glyphicons-th {
	background-position:-240px 0
}
.glyphicons-th-list {
	background-position:-264px 0
}
.glyphicons-ok {
	background-position:-288px 0
}
.glyphicons-remove {
	background-position:-312px 0
}
.glyphicons-zoom-in {
	background-position:-336px 0
}
.glyphicons-zoom-out {
	background-position:-360px 0
}
.glyphicons-off {
	background-position:-384px 0
}
.glyphicons-signal {
	background-position:-408px 0
}
.glyphicons-cog {
	background-position:-432px 0
}
.glyphicons-trash {
	background-position:-456px 0
}
.glyphicons-home {
	background-position:0 -24px
}
.glyphicons-file {
	background-position:-24px -24px
}
.glyphicons-time {
	background-position:-48px -24px
}
.glyphicons-road {
	background-position:-72px -24px
}
.glyphicons-download-alt {
	background-position:-96px -24px
}
.glyphicons-download {
	background-position:-120px -24px
}
.glyphicons-upload {
	background-position:-144px -24px
}
.glyphicons-inbox {
	background-position:-168px -24px
}
.glyphicons-play-circle {
	background-position:-192px -24px
}
.glyphicons-repeat {
	background-position:-216px -24px
}
.glyphicons-refresh {
	background-position:-240px -24px
}
.glyphicons-list-alt {
	background-position:-264px -24px
}
.glyphicons-lock {
	background-position:-287px -24px
}
.glyphicons-flag {
	background-position:-312px -24px
}
.glyphicons-headphones {
	background-position:-336px -24px
}
.glyphicons-volume-off {
	background-position:-360px -24px
}
.glyphicons-volume-down {
	background-position:-384px -24px
}
.glyphicons-volume-up {
	background-position:-408px -24px
}
.glyphicons-qrcode {
	background-position:-432px -24px
}
.glyphicons-barcode {
	background-position:-456px -24px
}
.glyphicons-tag {
	background-position:0 -48px
}
.glyphicons-tags {
	background-position:-25px -48px
}
.glyphicons-book {
	background-position:-48px -48px
}
.glyphicons-bookmark {
	background-position:-72px -48px
}
.glyphicons-print {
	background-position:-96px -48px
}
.glyphicons-camera {
	background-position:-120px -48px
}
.glyphicons-font {
	background-position:-144px -48px
}
.glyphicons-bold {
	background-position:-167px -48px
}
.glyphicons-italic {
	background-position:-192px -48px
}
.glyphicons-text-height {
	background-position:-216px -48px
}
.glyphicons-text-width {
	background-position:-240px -48px
}
.glyphicons-align-left {
	background-position:-264px -48px
}
.glyphicons-align-center {
	background-position:-288px -48px
}
.glyphicons-align-right {
	background-position:-312px -48px
}
.glyphicons-align-justify {
	background-position:-336px -48px
}
.glyphicons-list {
	background-position:-360px -48px
}
.glyphicons-indent-left {
	background-position:-384px -48px
}
.glyphicons-indent-right {
	background-position:-408px -48px
}
.glyphicons-facetime-video {
	background-position:-432px -48px
}
.glyphicons-picture {
	background-position:-456px -48px
}
.glyphicons-pencil {
	background-position:0 -72px
}
.glyphicons-map-marker {
	background-position:-24px -72px
}
.glyphicons-adjust {
	background-position:-48px -72px
}
.glyphicons-tint {
	background-position:-72px -72px
}
.glyphicons-edit {
	background-position:-96px -72px
}
.glyphicons-share {
	background-position:-120px -72px
}
.glyphicons-check {
	background-position:-144px -72px
}
.glyphicons-move {
	background-position:-168px -72px
}
.glyphicons-step-backward {
	background-position:-192px -72px
}
.glyphicons-fast-backward {
	background-position:-216px -72px
}
.glyphicons-backward {
	background-position:-240px -72px
}
.glyphicons-play {
	background-position:-264px -72px
}
.glyphicons-pause {
	background-position:-288px -72px
}
.glyphicons-stop {
	background-position:-312px -72px
}
.glyphicons-forward {
	background-position:-336px -72px
}
.glyphicons-fast-forward {
	background-position:-360px -72px
}
.glyphicons-step-forward {
	background-position:-384px -72px
}
.glyphicons-eject {
	background-position:-408px -72px
}
.glyphicons-chevron-left {
	background-position:-432px -72px
}
.glyphicons-chevron-right {
	background-position:-456px -72px
}
.glyphicons-plus-sign {
	background-position:0 -96px
}
.glyphicons-minus-sign {
	background-position:-24px -96px
}
.glyphicons-remove-sign {
	background-position:-48px -96px
}
.glyphicons-ok-sign {
	background-position:-72px -96px
}
.glyphicons-question-sign {
	background-position:-96px -96px
}
.glyphicons-info-sign {
	background-position:-120px -96px
}
.glyphicons-screenshot {
	background-position:-144px -96px
}
.glyphicons-remove-circle {
	background-position:-168px -96px
}
.glyphicons-ok-circle {
	background-position:-192px -96px
}
.glyphicons-ban-circle {
	background-position:-216px -96px
}
.glyphicons-arrow-left {
	background-position:-240px -96px
}
.glyphicons-arrow-right {
	background-position:-264px -96px
}
.glyphicons-arrow-up {
	background-position:-289px -96px
}
.glyphicons-arrow-down {
	background-position:-312px -96px
}
.glyphicons-share-alt {
	background-position:-336px -96px
}
.glyphicons-resize-full {
	background-position:-360px -96px
}
.glyphicons-resize-small {
	background-position:-384px -96px
}
.glyphicons-plus {
	background-position:-408px -96px
}
.glyphicons-minus {
	background-position:-433px -96px
}
.glyphicons-asterisk {
	background-position:-456px -96px
}
.glyphicons-exclamation-sign {
	background-position:0 -120px
}
.glyphicons-gift {
	background-position:-24px -120px
}
.glyphicons-leaf {
	background-position:-48px -120px
}
.glyphicons-fire {
	background-position:-72px -120px
}
.glyphicons-eye-open {
	background-position:-96px -120px
}
.glyphicons-eye-close {
	background-position:-120px -120px
}
.glyphicons-warning-sign {
	background-position:-144px -120px
}
.glyphicons-plane {
	background-position:-168px -120px
}
.glyphicons-calendar {
	background-position:-192px -120px
}
.glyphicons-random {
	width:16px;
	background-position:-216px -120px
}
.glyphicons-comment {
	background-position:-240px -120px
}
.glyphicons-magnet {
	background-position:-264px -120px
}
.glyphicons-chevron-up {
	background-position:-288px -120px
}
.glyphicons-chevron-down {
	background-position:-313px -119px
}
.glyphicons-retweet {
	background-position:-336px -120px
}
.glyphicons-shopping-cart {
	background-position:-360px -120px
}
.glyphicons-folder-close {
	width:16px;
	background-position:-384px -120px
}
.glyphicons-folder-open {
	width:16px;
	background-position:-408px -120px
}
.glyphicons-resize-vertical {
	background-position:-432px -119px
}
.glyphicons-resize-horizontal {
	background-position:-456px -118px
}
.glyphicons-hdd {
	background-position:0 -144px
}
.glyphicons-bullhorn {
	background-position:-24px -144px
}
.glyphicons-bell {
	background-position:-48px -144px
}
.glyphicons-certificate {
	background-position:-72px -144px
}
.glyphicons-thumbs-up {
	background-position:-96px -144px
}
.glyphicons-thumbs-down {
	background-position:-120px -144px
}
.glyphicons-hand-right {
	background-position:-144px -144px
}
.glyphicons-hand-left {
	background-position:-168px -144px
}
.glyphicons-hand-up {
	background-position:-192px -144px
}
.glyphicons-hand-down {
	background-position:-216px -144px
}
.glyphicons-circle-arrow-right {
	background-position:-240px -144px
}
.glyphicons-circle-arrow-left {
	background-position:-264px -144px
}
.glyphicons-circle-arrow-up {
	background-position:-288px -144px
}
.glyphicons-circle-arrow-down {
	background-position:-312px -144px
}
.glyphicons-globe {
	background-position:-336px -144px
}
.glyphicons-wrench {
	background-position:-360px -144px
}
.glyphicons-tasks {
	background-position:-384px -144px
}
.glyphicons-filter {
	background-position:-408px -144px
}
.glyphicons-briefcase {
	background-position:-432px -144px
}
.glyphicons-fullscreen {
	background-position:-456px -144px
}
.glyphicons-gdrive-realtime {
	background-position:-1px -168px
}

[class^="icon-"], [class*=" icon-"] {
	display:inline-block;
	line-height:14px;
	vertical-align:middle;
	background-repeat:no-repeat
}
[class^="icon-"].icon-white, [class*=" icon-"].icon-white {
	color:#fff
}
.icon-code {
	font-size:80%;
	padding-right:5px
}
.icon-folder-open {
	font-size:80%;
	padding-right:5px
}
.icon-chart-bar {
	font-size:90%;
	padding-right:2px
}
.icon-trash {
	font-size:95%
}
.icon-folder {
	margin-top:-2px
}
.icon-ajust {
	font-size:80%;
	padding-right:5px
}
.icon-adjust {
	font-size:80%;
	padding-right:5px
}
[class^="icon-provider-"], [class*=" icon-provider-"] {
	background-image:url("../img/icons.png");
	width:18px;
	height:16px;
	margin-top:-2px
}
@media only screen and(-webkit-min-device-pixel-ratio:2), only screen and(min--moz-device-pixel-ratio:2), only screen and(-o-min-device-pixel-ratio:2/1), only screen and(min-device-pixel-ratio:2), only screen and(min-resolution:192dpi), only screen and(min-resolution:2dppx) {
	[class^="icon-provider-"], [class*=" icon-provider-"] {
		background-image:url("../img/icons2x.png");
		background-size:256px 16px
	}
}
@media only screen and(-webkit-min-device-pixel-ratio:2), only screen and(min--moz-device-pixel-ratio:2), only screen and(-o-min-device-pixel-ratio:2/1), only screen and(min-device-pixel-ratio:2), only screen and(min-resolution:192dpi), only screen and(min-resolution:2dppx) {
	[class^="icon-provider-"], [class*=" icon-provider-"] {
		background-image:url("../img/icons2x.png");
		background-size:256px 16px
	}
}
.icon-provider-stackedit {
	background-position:0 0
}
.icon-provider-gdrive {
	background-position:-18px 0
}
.icon-provider-gdrive.realtime {
	background-position:-1px -162px
}
.icon-provider-dropbox {
	background-position:-37px 0
}
.icon-provider-github, .icon-provider-gist {
	background-position:-54px 0
}
.icon-provider-blogger {
	background-position:-72px 0
}
.icon-provider-tumblr {
	background-position:-90px 0
}
.icon-provider-wordpress {
	background-position:-108px 0
}
.icon-provider-ssh {
	background-position:-126px 0
}
.icon-provider-gplus {
	background-position:-144px 0
}
.icon-provider-realtime {
	background-position:-162px 0
}
.clearfix:before, .clearfix:after {
	content:" ";
	display:table;
}
.clearfix:after {
	clear:both
}
